html {
    scroll-behavior: auto;
}
body{
    margin:0;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.github {
    /* background: white; */
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

#desktop_1 {
    background-color: #a8dadc;
    height: 100vh;
    width: 100vw;
    
}

#mystery {
    font-family: fantasy;
    color: #1d3557;
    /*vertical-align: middle; */
    font-size: 350%;
    padding-top: 10%;
    margin-top:0;
    margin-bottom: 0;
}

#description {
    font-family: cursive;
    color: #457b9d;
    vertical-align: middle;
    font-size: 90%;
    /*padding-top: 5%;*/
}

.getstarted {
    background-color:#e63946;
    border: none;
    border-radius: 8px;
    color: #f1faee;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Ink Free';
    margin-top: 10%;
    cursor: pointer;
    box-shadow: 10px, black, outset;
}

#desktop_2 {
    /*margin-top: 1%; */
    height: fit-content;
    width: 100vw;
    background-color: #a8dadc;
    font-size: 105%;
    font-family: sans-serif;
    font-weight: bold;
    color: #1d3557;

}

.button {
    background-color: #e63946;
    /*padding: 50%, 45%;*/
    font-size: 85%;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
}

#about {
    background-color: #a8dadc;
    height: 100vh;
    width: 100vw;
    /*margin-top: 1%; */
    color: #1d3557;
    font-family: 'Ink Free';
}

#aboutus
/*This is the heading*/
    {
    font-family: sans-serif;
    color: #1d3557;
    vertical-align: middle;
    margin-top: 0;
    font-size: 175%;    
}